.main{
    color: black;
    border: 1px solid red;
    width:25%;
    padding:40px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.564);
    background-color: aliceblue;


}
.card1{
    margin-top: 23%;
}
.logo{
    width: 70px;
    display: block;
    margin: auto;
}